@font-face {
    font-family: 'Ikaros-Regular';
    src: url('../font/Ikaros-Regular.eot');
    src: url('../font/Ikaros-Regular.eot?#iefix') format('embedded-opentype');
    src: url('../font/Ikaros-Regular.woff') format('woff');
    src: url('../font/Ikaros-Regular.ttf') format('truetype');
    src: url('../font/Ikaros-Regular.svg#Ikaros-Regular') format('svg');
    src: url('../font/Ikaros-Regular.otf') format('opentype');
    font-style: normal;
    font-weight: 400;
}

.react-calendar-timeline {
    font-family: Ikaros-Regular;
}

.rct-item {
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    border-radius: 8px;
    text-align: center;
}

p:last-child {
    text-align: center;
    margin-top: 13%;
}

/* .react-calendar-timeline .rct-header {
    height: 100%;
}

.rct-top-header {
    display: none;
} */

