@font-face {
    font-family: 'Ikaros-Regular';
    src: url('../font/Ikaros-Regular.eot');
    src: url('../font/Ikaros-Regular.eot?#iefix') format('embedded-opentype');
    src: url('../font/Ikaros-Regular.woff') format('woff');
    src: url('../font/Ikaros-Regular.ttf') format('truetype');
    src: url('../font/Ikaros-Regular.svg#Ikaros-Regular') format('svg');
    src: url('../font/Ikaros-Regular.otf') format('opentype');
    font-style: normal;
    font-weight: 400;
}

.homepage-homepage-1 {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-bottom: 31px;
    cursor: default;
    background: #FFFFFF;
    min-height: 100vh;
}

.homepage-0 {
    display: flex;
    flex-shrink: 0;
    flex-grow: 1;
    flex-basis: 0px;
    min-height: fit-content;
}

.homepage-0-0 {
    height: 0px;
    flex-grow: 0;
    flex-basis: 0px;
}

.homepage-header-8 {
    flex-grow: 1;
    flex-basis: 0px;
    display: flex;
    flex-direction: column;
}

.homepage-0-2 {
    height: 0px;
    flex-grow: 0;
    flex-basis: 0px;
}

.homepage-1 {
    display: flex;
    flex-shrink: 0;
    margin-top: 6px;
}

.homepage-1-0 {
    height: 0px;
    flex-grow: 0.16484375;
    flex-basis: 0px;
}

.homepage-image_instance-5 {
    flex-grow: 0.66953125;
    flex-basis: 0px;
    display: flex;
    flex-direction: column;
}

.homepage-1-2 {
    height: 0px;
    flex-grow: 0.165625;
    flex-basis: 0px;
}

.homepage-2 {
    display: flex;
    flex-shrink: 0;
    margin-top: 2px;
}

.homepage-2-0 {
    height: 0px;
    flex-grow: 0.18203125;
    flex-basis: 0px;
}

.homepage-startpanel_instance-3 {
    font-family: Ikaros-Regular;
    flex-grow: 0.6359375;
    flex-basis: 1px;
    display: flex;
    flex-direction: column;
    min-height: 95px;
}

.homepage-2-2 {
    height: 0px;
    flex-grow: 0.18203125;
    flex-basis: 0px;
}

.homepage-3 {
    display: flex;
    flex-shrink: 0;
    margin-top: 46px;
}

.homepage-3-0 {
    height: 0px;
    flex-grow: 0.1234375;
    flex-basis: 0px;
}

.homepage-description_instance-1 {
    flex-grow: 0.753125;
    flex-basis: 0px;
    display: flex;
    flex-direction: column;
}

.homepage-3-2 {
    height: 0px;
    flex-grow: 0.1234375;
    flex-basis: 0px;
}

.homepage-4 {
    display: flex;
    flex-shrink: 0;
    margin-top: 12px;
}

.homepage-4-0 {
    height: 0px;
    flex-grow: 0.49624060150375937;
    flex-basis: 0px;
}

.homepage-recommend_instance-8 {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    min-width: 1147px;
}

.homepage-4-2 {
    height: 0px;
    flex-grow: 0.5037593984962406;
    flex-basis: 0px;
}

.homepage-5 {
    display: flex;
    flex-shrink: 0;
    margin-top: 59px;
}

.homepage-5-0 {
    height: 0px;
    flex-grow: 0.49624060150375937;
    flex-basis: 0px;
}

.homepage-explore_instance-9 {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    min-width: 1147px;
}

.homepage-5-2 {
    height: 0px;
    flex-grow: 0.5037593984962406;
    flex-basis: 0px;
}
.pad-custom {
    padding-left: 5%;
    color: #FFFFFF;
}

.ui.label, .ui.labels .label{
    font-size: 20px;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

button:hover {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}

.pd-onhover-parent >.pd-onhover {
    display: none;
}

.pd-onhover-parent:hover > * {
    display: none;
}

.pd-onhover-parent:hover > .pd-onhover {
    display: flex;
}

.pd-onactive-parent > .pd-onactive {
    display: none;
}

.pd-onactive-parent:active > * {
    display: none;
}

.pd-onactive-parent:active > .pd-onactive {
    display: flex;
}

.pd-onactive-parent.pd-onhover-parent:active > .pd-onhover {
    display: none;
}
